In [3]:
import pandas as pd

# Pivot Table

## 1 - pivot() method

In [18]:
df_gdp = pd.read_csv('gdp.csv', encoding='latin-1')
df_gdp

      unid wbid      country  year        SES       gdppc  yrseduc  popshare
0        4  AFG  Afghanistan  1970   3.474212   709.00000      NaN  0.003097
1        4  AFG  Afghanistan  1920  26.968016   731.75677      NaN  0.003245
2        4  AFG  Afghanistan  1990   1.269530   604.00000      NaN  0.002347
3        4  AFG  Afghanistan  1960  15.763076   739.00000      NaN  0.003039
4        4  AFG  Afghanistan  2000   2.061114   565.00000      NaN  0.003309
...    ...  ...          ...   ...        ...         ...      ...       ...
2081   716  ZWE     Zimbabwe  1940  52.746567   813.00000      NaN  0.001113
2082   716  ZWE     Zimbabwe  2010  27.091389  1388.97300      NaN  0.002074
2083   716  ZWE     Zimbabwe  1990  59.110970  2526.07230      NaN  0.002039
2084   716  ZWE     Zimbabwe  1900  54.722645   601.00000      NaN  0.000996
2085   716  ZWE     Zimbabwe  1960  53.811077   938.00000      NaN  0.001268

[2086 rows x 8 columns]

In [27]:
df_dgp_pivot = df_gdp.pivot(index='year', columns='country', values='gdppc')

In [28]:
df_dgp_pivot['Ethiopia']

year
1880     533.66669
1890     567.33331
1900     601.00000
1910     628.69232
1920     682.62964
1930     747.81482
1940     813.00000
1950     390.00000
1960     440.00000
1970     595.00000
1980     648.00000
1990     652.35223
2000     619.11432
2010    1075.55370
Name: Ethiopia, dtype: float64

## 2 - pivot_table() method

In [ ]:
pd.read_excel('supermarket_sales.xlsx')